<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Popular Movies</h3>    
    </div> 
    <div class="panel-body">
        <div *ngIf="blogs">
            <div *ngFor="let blog of blogs" class="row">
                <div class="col-md-8">
                    <div>
                        <a routerLink="/blogs/post/{{blog.sys.id}}"><h4>{{blog.fields.title}}</h4></a>
                        <div *ngIf="assets">
                            <div *ngFor="let asset of assets | matchImage:blog.fields.image[0].sys.id">
                               <a routerLink="/blogs/post/{{blog.sys.id}}"><img src="{{asset.fields.file.url}}"></a>
                            </div>                       
                        </div>                        
                    </div>                                
                </div>    
            </div>
        </div>   
    </div>   
</div>
