<!-- NAV -->
<div class="nav">
  <div class="navbar navbar-fixed-top navbar-default  visible-xs visible-sm" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
        <span class="visible-xs menu-button ">Menu</span>
      </button>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Menu Item 1</a></li>
        <li><a href="#">Menu Item 2</a></li>
        <li><a href="#">Menu Item 3</a></li>
        <li><a href="#">Menu Item 4</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- MAIN NAV -->
<div class="main-nav hidden-xs hidden-sm">
	<ul class="">
				<li><a href="#">Menu Item 1</a></li>
			<li><a href="#">Menu Item 2</a></li>
			<li><a href="#">Menu Item 3</a></li>
			<li><a href="#">Menu Item 4</a></li>   		    		
	</ul>
</div> 

<!-- SOCIAL NAV -->
<div class="social-nav hidden-xs hidden-sm">
	<ul class="">
			<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>  		    		
	</ul>
</div>